<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @equipment.condition %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @equipment.photo %>
</p>

<p>
  <strong>Estimated value:</strong>
  <%= number_to_currency(@equipment.estimated_value) %>
</p>

<p>
  <strong>Category:</strong>
  <%= @equipment.category_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @equipment.user.email %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @equipment.purchase_date %>
</p>

<p>
  <strong>City:</strong>
  <%= @equipment.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @equipment.state %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
